* {
  margin: 0;
  padding: 0;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  /* 禁止自动颜色模式切换，强制使用浅色主题 */
  color-scheme: light;
  background-color: #ffffff;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  overflow: auto;
}

a {
  font-style: italic;
  color: black;
}

a:hover {
  color: #3366cc;
}

* {
  scrollbar-color: rgba(128, 128, 128, 0.5) transparent;
}

*::-webkit-scrollbar {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.5);
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.7);
}
